.Usage {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    font-size: 1.8rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}