.SkillBar-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: .2rem 0;
}

.Skill-delete {
    position: absolute;
    top: 5px;
    width: 25px;
    right: -35px;
    cursor: pointer;
    color: #ff4f4f;
    transition: all .2s;
}
.Skill-delete:hover {
    transform: translateY(-2px);
}
.Skill-delete:active {
    transform: translateY(1px);
}